#figure1 {
    border: solid black 1px;
    width: 155px;
    height: 175px;
}

#figure2 {
    border: solid black 5px;
    width: 1340px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

#figure3 {
    border: solid coral 1px;
    margin: 20px;
    width: 1300px;
}

#figure4 {
    border: solid lightseagreen 2px;
    width: 800px;
    padding: 5px;
    height: 100px;
    border-radius: 10px;
}

#figure5 {
    border: solid black 1px;
    width: 1300px;
}

#figure6 {
    border: solid black 1px;
    border-top: white;
    width: 1250px;
  margin-left: 50px;
}

#figure7 {

}

