#container{
    display: grid;
    grid-template-areas:
            "menu logo content "
            "menu footer footer";
    text-align: center;
    grid-template-rows: 200px 50px;
    grid-auto-columns: 200px 200px auto;
}
nav{
    grid-area: menu;
    background-color: lightblue;
}
#logo{
    grid-area: logo;
    background-color: lightcoral ;
}
#content{
    grid-area: content;
    background-color: lightsalmon;
}
footer{
    grid-area: footer;
    background-color: lightgreen;
    height: 50px;
}